@model ActivityModel
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Activity";
}

<div class="container">
    <h1>Výkazy</h1>


    <form asp-action="Activity" method="get">
        <div class="search-doctor">
            <p>
                <label>Název výkonu:</label><input type="text" name="SearchString" id="search" autocomplete="off" value="@ViewData["Search"]">
                <button type="submit" name="SortOrder" value="@ViewData["CurrentSort"]">Hledat</button> @Html.ActionLink("Zpět na všechny výpisy", "Activity", new { SortOrder = ViewData["CurrentSort"] })
            </p>
        </div>
    </form>
</div>

@if (Model.medicallBills.Count == 0)
{
    <br />
    <br />
    <br />
    <hr /><p class="null_record">Nejsou zde žádné záznamy k zobrazení</p>
    <hr />
}
else
{

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Diagnóza", "Activity", new { SortOrder = "nazev", searchString = ViewData["Search"] })
                    </th>
                    <th>
                        Pacient
                    </th>
                    <th>
                        @Html.ActionLink("Datum vystavení", "Activity", new { SortOrder = "datum", searchString = ViewData["Search"] })
                    </th>
                    <th>
                        @Html.ActionLink("Stav schválení", "Activity", new { SortOrder = "stav", searchString = ViewData["Search"] })
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var medicalBill in Model.medicallBillsPage)
                {
                    string state = "";

                    if (medicalBill.State == null)
                    {
                        state = "čeká na schválení...";
                    }
                    else
                    {
                        state = medicalBill.State;
                    }

                    <tr>
                        <td>@medicalBill.Diagnosis.Name</td>
                        <td>@medicalBill.SocialSecurityNum</td>
                        <td>@medicalBill.CreateDate</td>
                        <td>@state</td>
                    </tr>
                }

            </tbody>
        </table>

        <br />
        @(Html.Pager(Model.medicallBillsPage).Url(page => Url.Action("Activity", new { p = page, searchString = ViewData["Search"], SortOrder = ViewData["CurrentSort"] })).Classic())

    </div>
}
