@model IEnumerable<Nemocnice.Models.ActivityModel>

@{
    ViewData["Title"] = "Activity";
}

<h1>Výkazy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Název", "Activity", new { SortOrder = "nazev"})
            </th>
            <th>
                Pacient
            </th>
            <th>
                @Html.ActionLink("Datum vystavení", "Activity", new { SortOrder = "datum" })
            </th>
            <th>
                @Html.ActionLink("Stav schválení", "Activity", new { SortOrder = "stav" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
        </tr>
}
    </tbody>
</table>
