<!-- Zobrazení kartotéky přístupné pouze v s oprávněním Doctor -->
<!-- Autor: Michal Šedý (xsedym02) -->
<!-- Poslední změna: 12.11.2020 -->

@{
    ViewData["Title"] = "Kartotéka";
}

<!-- Model obsahující seznam základních informací o pacientech pro kartotéku. -->
@model CardModel

@using Nemocnice.Data;
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;
@using Microsoft.AspNetCore.Mvc;

<h1>Kartotéka</h1>

<!-- Tlačítko |Nový pacient|, které ve vyskakovacím okně umožní zadat údaje pro vytvoření nového pacienta. -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatientModal">Nový pacient</button>

<!-- Vyskakovací okno (modální dialog), k zadání údajů pro vytvoření nového pacienta. -->
<!-- TODO Rozdělit okno do dvou sloupců. -->
<form asp-action="CreatePatient" method="post" onsubmit="return testRC('RC')">
    <div class="modal fade" id="newPatientModal" tabindex="-1" role="dialog" aria-labelledby="newPatientModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:60%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPatientModalLabel">Nový pacient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">Jméno*</label>
                                <input name="NewName" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Rodné číslo*</label>
                                <input name="NewNum" id="RC" type="text" required pattern="[0-9]{2}(([1,3,6,8][0-2])|([0,2,5,7][1-9]))((0[1-9])|1[0-9]|2[0-9]|3[0-1])[\/]{0,1}[0-9]{3,4}" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Telefon*</label>
                                <input name="NewTel" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Ulice</label>
                                <input name="NewStreet" autocomplete="off" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Město*</label>
                                <input name="NewCity" required autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">Příjmení*</label>
                                <input name="NewSurname" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pojišťovna*</label>
                                <input name="NewInsurance" type="text" required pattern="205|207|213|111|201|209|211" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input name="NewEmail" type="email" value="" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Číslo popisné</label>
                                <input name="NewHouseNum" type="text" pattern="[0-9]+" value="" autocomplete="off" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Směrovací číslo*</label>
                                <input name="NewZip" type="text" required pattern="([0-9]{5})|([0-9]{3} [0-9]{2})" autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label aclass="col-form-label">Titul</label>
                                <input name="NewTitle" type="text" autocomplete="off" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Uložit" />
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Vyhledávání pacienta podle zadaného výrazu. -->
<!-- Zaměření na vyhledáné výsled je možné zrušit tlačítkem |Zrušit filtry|, které zobrazí zase všechny pacienty. -->
<form asp-action="Card" method="get">
    <div class="form-actions no-color">
        <p>
            <label><strong>Najít:</strong></label><input type="text" name="SearchString" id="search" autocomplete="off" value="@ViewData["Search"]">
            <button type="submit" name="SortOrder" value="@ViewData["CurrentSort"]" class="btn-insurance">Hledat</button> @Html.ActionLink("Zrušit hledání", "Card", new { SortOrder = ViewData["CurrentSort"] }, new { @class = "btn-insurance-cancel" })
        </p>
    </div>
</form>

<!-- Halvní tabulka kartotéky. Vybrané sloupce je mořné řadit (řazení je vždy sestupné). -->
<!-- Řazení neovlivní výsledky vyhledávání. Provede pouze jejich seřazení. -->
<div style="overflow-x: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Příjmení", "Card", new { sortOrder = "bySurname", searchString = ViewData["Search"], p = ViewData["CurrentPage"] })
                </th>
                <th>
                    @Html.ActionLink("Jméno", "Card", new { sortOrder = "byName", searchString = ViewData["Search"], p = ViewData["CurrentPage"] })
                </th>
                <th>
                    Titul
                </th>
                <th>
                    @Html.ActionLink("Rodné číslo", "Card", new { sortOrder = "byNumber", searchString = ViewData["Search"], p = ViewData["CurrentPage"] })
                </th>
                <th>
                    Pojišťovna
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.patientsPage)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientFullName.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientFullName.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientFullName.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SocialSecurityNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Insurance)
                    </td>
                    <td>
                        <!-- Zobrací celkový přehled pacienta se všemi jeho funkcemi. -->
                        @Html.ActionLink("Pacient", "PatientProfile", new { patientNum = item.SocialSecurityNum, p = ViewData["CurrentPage"], sortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] }) |
                        <!-- Vytvoření nové zprávy k danému pacientovi. -->
                        @Html.ActionLink("Zpráva", "Report", new { socialNum = item.SocialSecurityNum, p = ViewData["CurrentPage"], sortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br /><br />
@(Html.Pager(Model.patientsPage).Url(page => Url.Action("Card", new { p = page, sortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })).Classic())