@model IEnumerable<Nemocnice.Models.CardPatientModel>

@{
    ViewData["Title"] = "Kartotéka";
}

<h1>Kartotéka</h1>

<p>
    <a asp-action="CreatePatient">Nový pacient</a>
</p>

<form asp-action="Card" method="get">
    <div class="form-actions no-color">
        <p>
            Najít: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Hledat" class="btn btn-default" /> |
            <a asp-action="Card">Zrušit filtry</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Příjmení", "Card", new { sortOrder = "bySurname", searchString = ViewData["Search"] })
            </th>
            <th>
                @Html.ActionLink("Jméno", "Card", new { sortOrder = "byName", searchString = ViewData["Search"] })
            </th>
            <th>
                Titul
            </th>
            <th>
                @Html.ActionLink("Rodné číslo", "Card", new { sortOrder = "byNumber", searchString = ViewData["Search"]})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityNum)
            </td>
            <td>
                @Html.ActionLink("Přehled", "Overview", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Zpráva", "Report", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
