@{
    ViewData["Title"] = "Příchozí žádost";
}

@model CheckupTicketModel

<div>
    Patient: <b>@Model.PatientFullName.getFullName() (@Model.SocialSecurityNumber)</b><br />
    Doctor:  <b>@Model.DoctorFullName.getFullName()</b><br />
    Vytvořeno: <b>@Model.CreateDate</b>
</div>


<div>
    <form asp-action="TicketActualizeState" method="post">
        <label>Stav:</label>
        <input type="text" class="form-control m-input" name="newState" value="@Model.State" />
        <input hidden name="patientNumber" value="@Model.SocialSecurityNumber" />
        <input hidden name="ticketDate" value="@Model.CreateDate" />
        <input class="btn btn-primary" type="submit" value="Aktualizovat">
    </form>
</div>

<div>
    <textarea cols="100" rows="10" readonly>@Model.RequestText</textarea>
</div>

<div>
    <form asp-action="FinishTicket" method="post">
        <label>Zpráva o vyšetření:</label>
        <div>
            <textarea cols="100" rows="10" name="reportText"></textarea>
        </div> 
        <input hidden name="patientNumber" value="@Model.SocialSecurityNumber" />
        <input hidden name="ticketDate" value="@Model.CreateDate" />
        <div>
            <input class="btn btn-primary" type="submit" value="Odeslat">
        </div>
    </form>
</div>