@{
    ViewData["Title"] = "Výsledek vyšetření";
}

@model CheckupTicketModel

<h2 style="margin-bottom:20px">@Model.PatientFullName.getFullName() (ř.č.:&nbsp;@Model.SocialSecurityNumber)</h2>

<div>
    <b>Lékař:  </b>@Model.DoctorFullName.getFullName()<br />
    <b>Stav: </b>
    @if (Model.State != "dokončeno")
    {
        <b class="text-danger">@Model.State</b>
    }
    else
    {
        <b class="text-success">@Model.State</b>
    }
</div>


<div>
    <h4 style="margin-top:20px">
        Žádost [@Model.CreateDate]
    </h4>
    <textarea style="width:100%;max-width:909px" rows="10" readonly>@Model.RequestText</textarea>
</div>

<div>
    <h4 style="margin-top:20px">
        Zpráva z vyšetření @((Model.State == "dokončeno") ? "[" + Model.FinishDate + "]" : "")
    </h4>
    <textarea style="width:100%;max-width:909px" rows="10" readonly>@Model.ReportText</textarea>
</div>

<div>
    <button onClick="history.go(-1); return false;" class="btn btn-primary">Zpět</button>
</div>
