@model IEnumerable<Nemocnice.Models.CheckupTicketToMeFinish>

@{
    ViewData["Title"] = "Příchozí vyřízené žádosti";
}

<h1>Příchozí vyřízené žádosti</h1>
<form asp-action="InFinishRequest" method="get">
    <div class="form-actions no-color">
        <p>
            Najít: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" autocomplete="off" />
            <input type="submit" value="Hledat" class="btn btn-default" /> |
            <a asp-action="InFinishRequest">Zrušit filtry</a>
        </p>
    </div>
</form>
<div style="overflow-x: auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Příjmení", "InFinishRequest", new { sortOrder = "bySurname", searchString = ViewData["Search"] })
                </th>
                <th>
                    @Html.ActionLink("Jméno", "InFinishRequest", new { sortOrder = "byName", searchString = ViewData["Search"] })
                </th>
                <th>
                    @Html.ActionLink("Rodné číslo", "InFinishRequest", new { sortOrder = "byNumber", searchString = ViewData["Search"] })
                </th>
                <th>
                    @Html.ActionLink("Lékař", "InFinishRequest", new { sortOrder = "byDoctor", searchString = ViewData["Search"] })
                </th>
                <th>
                    @Html.ActionLink("Datum vytvoření", "InFinishRequest", new { sortOrder = "byCreateDate", searchString = ViewData["Search"] })
                </th>
                <th>
                    @Html.ActionLink("Datum ošetření", "InFinishRequest", new { sortOrder = "byOsetreniDate", searchString = ViewData["Search"] })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDoctor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.ActionLink("Zobrazit", "Edit", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
