<!-- Model obsahující seznam základních informací o pacientech pro kartotéku. -->
@model DoctorDisplayPatientModel

@{
    ViewData["Title"] = Model.Surname + " " + Model.Name;
}

<div>
    <b>@(Model.Name + " " + Model.Surname + (String.IsNullOrEmpty(Model.Title) ? "" : ", ") + Model.Title) </b> <br />
    R.Č.: <b>@Model.SocialSecurityNumber</b><br />
    Poj.: <b>@Model.InsuranceCompany</b><br />
    Věk:  @Model.Age<br />
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#PatientInfoModal">Více</button>
    <form asp-action="UpdatePatientInfo" method="post">
        <input hidden name="OldNum" type="text" value="@Model.SocialSecurityNumber" />
        <div class="modal fade" id="PatientInfoModal" tabindex="-1" role="dialog" aria-labelledby="PatientInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PatientInfoLabel">Informace</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Jméno</label>
                            <input name="UpdateName" id="UpdateName" type="text" required disabled readonly autocomplete="off" class="form-control" value="@Model.Name" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Příjmení</label>
                            <input name="UpdateSurname" id="UpdateSurname" type="text" required disabled readonly autocomplete="off" class="form-control" value="@Model.Surname" />
                        </div>
                        <div class="form-group">
                            <label aclass="col-form-label">Titul</label>
                            <input name="UpdateTitle" id="UpdateTitle" type="text" disabled readonly autocomplete="off" class="form-control" value="@Model.Title" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Rodné číslo</label>
                            <input name="UpdateNum" id="UpdateNum" type="text" required disabled readonly pattern="[0-9]{2}(([1,6][0-2])|([0,5][1-9]))((0[1-9])|1[0-9]|2[0-9]|3[0-1])[0-9]{3,4}" autocomplete="off" class="form-control" value="@Model.SocialSecurityNumber" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Pojišťovna</label>
                            <input name="UpdateInsurance" id="UpdateInsurance" type="text" required  disabled readonly pattern="205|207|213|111|201|209|211" autocomplete="off" class="form-control" value="@Model.InsuranceCompany" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Telefon</label>
                            <input name="UpdateTel" id="UpdateTel" type="text" required autocomplete="off"  disabled readonly class="form-control" value="@Model.Tel" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input name="UpdateEmail" id="UpdateEmail" type="email" autocomplete="off" disabled readonly  class="form-control" value="@Model.Email" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ulice</label>
                            <input name="UpdateStreet" id="UpdateStreet" autocomplete="off" disabled readonly  class="form-control" value="@Model.Address.StreetName" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Číslo popisné</label>
                            <input name="UpdateHouseNum" id="UpdateHouseNum" type="text" disabled readonly  pattern="[0-9]+" autocomplete="off" class="form-control" value="@Model.Address.HouseNumber" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Město</label>
                            <input name="UpdateCity" id="UpdateCity" required disabled readonly  autocomplete="off" class="form-control" value="@Model.Address.City" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Směrovací číslo</label>
                            <input name="UpdateZip" id="UpdateZip" type="text" disabled readonly  required pattern="([0-9]{5})|([0-9]{3} [0-9]{2})" autocomplete="off" class="form-control" value="@Model.Address.ZIP" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" id="UpdateButton" disabled readonly type="submit" value="Uložit" />
                        <input class="btn btn-primary" type="button" onclick="unlockPatientInfo()" value="Upravit" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    Výška: @(((int)Model.HealthCondition.Height != 0) ? Model.HealthCondition.Height.ToString() : "---") cm<br />
    Váha : @(((int)Model.HealthCondition.Weight != 0) ? Model.HealthCondition.Weight.ToString() : "---") kg<br />
    Krevní skupina: @(String.IsNullOrEmpty(Model.HealthCondition.BloodType) ? "---" : Model.HealthCondition.BloodType) <br />

    @if (Model.Allergys.Count < 4)
    {
        string tmp = "";
        for (int i = 0; i < Model.Allergys.Count && i < 4; i++)
        {
            tmp += Model.Allergys.ElementAt(i);
        }
        <div>
            <b>Alergie: @tmp</b>
        </div>
    }
    else
    {
        string tmp = "";
        for (int i = 0; i < Model.Allergys.Count && i < 4; i++)
        {
            tmp += Model.Allergys.ElementAt(i);
        }
        <div>
            Alergie: <b>@tmp</b>  <button class="btn btn-info" data-toggle="modal" data-target="#AllergysModal">...</button>
            <div class="modal fade" id="AllergysModal" tabindex="-1" role="dialog" aria-labelledby="AllergysModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AllergysModalLabel">Alergie pacienta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @foreach (string allergy in Model.Allergys)
                            {
                                <div>
                                    <b>@allergy</b>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#PatientHealthModal">Upravit</button>
    <form asp-action="UpdateHealthInfo" method="post">
        <input hidden name="PatientNum" type="text" value="@Model.SocialSecurityNumber" />
        <div class="modal fade" id="PatientHealthModal" tabindex="-1" role="dialog" aria-labelledby="PatientHealthModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PatientInfoLabel">Upravit zdravotní přehled</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Výška</label>
                            <input name="UpdateHeight" type="text" required autocomplete="off" class="form-control" value="@Model.HealthCondition.Height" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Váha</label>
                            <input name="UpdateWeight" type="text" required autocomplete="off" class="form-control" value="@Model.HealthCondition.Weight" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Krevní typ</label>
                            <input name="UpdateBlodType" type="text" required autocomplete="off" class="form-control" value="@Model.HealthCondition.BloodType" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Alergie</label>
                            <input name="UpdateAllergys" type="text" required autocomplete="off" class="form-control" value="TODO alergie" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" id="UpdateButton" type="submit" value="Uložit" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <h2>Dekurzy</h2>
    <table class="table">
        <tbody>
            @if (Model.AllReports.Any())
            {
                @foreach (var item in Model.AllReports)
                {
                    <tr>
                        <td onmousedown="redirectToAction('@Url.Action("Report", "Doctor", new { socialNum = Model.SocialSecurityNumber, date = item })')">
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        Doposud nebyly zadány žádné zprávy.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Nová zpráva", "Report", new { socialNum = Model.SocialSecurityNumber })
</div>

<div>
    <h2>Příchozí žádosti na vyšetření</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Vytvořeno
                </th>
                <th>
                    Lékař
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CheckupToMe.Any())
            {
                @foreach (var item in Model.CheckupToMe)
                {
                    <tr>
                        <td onmousedown="redirectToAction('@Url.Action("CheckupIn", "Doctor", new { patientNum = Model.SocialSecurityNumber, date = item.CreateDate })')">
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td onmousedown="redirectToAction('@Url.Action("CheckupIn", "Doctor", new { patientNum = Model.SocialSecurityNumber, date = item.CreateDate })')">
                            @Html.DisplayFor(modeItem => item.FromDoctor)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        Žádné příchozí řádosti o vyšetření.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Moje žádosti na vyšetření</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Vytvořeno
                </th>
                <th>
                    Lékař
                </th>
                <th>
                    Stav
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CheckupToOther.Any())
            {
                @foreach (var item in Model.CheckupToOther)
                {
                    <tr>
                        <td onmousedown="redirectToAction('@Url.Action("CheckupOut", "Doctor", new { patientNum = Model.SocialSecurityNumber, date = item.CreateDate })')">
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td onmousedown="redirectToAction('@Url.Action("CheckupOut", "Doctor", new { patientNum = Model.SocialSecurityNumber, date = item.CreateDate })')">
                            @Html.DisplayFor(modeItem => item.ToDoctor)
                        </td>
                        <td onmousedown="redirectToAction('@Url.Action("CheckupOut", "Doctor", new { patientNum = Model.SocialSecurityNumber, date = item.CreateDate })')">
                            @Html.DisplayFor(modeItem => item.State)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        Žádné poukazy na vyšeetření.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Nový poukaz na vyšetření", "NewCheckup", new { patientNum = Model.SocialSecurityNumber })
</div>
