@model DoctorJoined

@{
    ViewData["Title"] = "Lékař";
}

<h2 style="margin-top:30px">Detail doktora</h2>
<strong>Jméno</strong>: @Model.Name
<br />
<strong>Přijmení</strong>: @Model.Surname
<br />
<strong>Email</strong>: @Model.Email
<br />
<strong>ICZ</strong>: @Model.ICZ
<br />
<strong>Email</strong>: @Model.Email
<br />
<strong>Adresa</strong>: @Model.HouseNumber @Model.StreetName @Model.City @Model.ZIP
<br />
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.6345681578837!2d16.59373701604186!3d49.22645707932512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471294099dc06bbb%3A0xbfcf161b01a48b0d!2zRmFrdWx0YSBpbmZvcm1hxI1uw61jaCB0ZWNobm9sb2dpw60gVnlzb2vDqWhvIHXEjWVuw60gdGVjaG5pY2vDqWhvIHYgQnJuxJs!5e0!3m2!1scs!2scz!4v1606417223793!5m2!1scs!2scz" style="margin-top:5%;  width: 80%;
        height: 350px; border: 0;" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

