@using Nemocnice.Data;
@model InsuranceModel
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;
@using Microsoft.AspNetCore.Mvc;


<div class="pojistovna">
    <h1 class="pojistovna-nadpis">Žádosti o proplacení lékařských úkonů</h1>

    <form asp-action="InRequest" method="get">
        <div class="search-doctor">
            <p id="left">
                <label><strong>Jméno lékaře:</strong></label><input type="text" name="SearchString" id="search" autocomplete="off" value="@ViewData["Search"]">
                <button type="submit" name="SortOrder" value="@ViewData["CurrentSort"]" class="btn-insurance">Hledat</button> @Html.ActionLink("Zrušit hledání", "InRequest", new { SortOrder = ViewData["CurrentSort"] }, new { @class = "btn-insurance-cancel" })
            </p>
            <p id="right">
                @Html.ActionLink("Schválit vše", "InRequest", new { buttonAll = "schvalit-vse", searchString = ViewData["Search"], SortOrder = ViewData["CurrentSort"] }, new { @class = "btn-insurance-accept" })  @Html.ActionLink("Zamítnout vše", "InRequest", new { buttonAll = "zamitnout-vse", searchString = ViewData["Search"], SortOrder = ViewData["CurrentSort"] }, new { @class = "btn-insurance-denied" })
            </p>
        </div>
    </form>

    @if (Model.medicallBillsPage.Count == 0)
    {
        <br /><br /><br />
        <hr /><p class="null_record">Nejsou zde žádné záznamy k zobrazení</p><hr />
    }
    else
    {

        <div class="table" style="overflow-x: scroll;">
            <table style="text-align:center;">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Doktor
                        </th>
                        <th>
                            Pacient
                        </th>
                        <th>
                            @Html.ActionLink("Cena", "InRequest", new { SortOrder = "cena", searchString = ViewData["Search"] })
                        </th>
                        <th>
                            @Html.ActionLink("Typ", "InRequest", new { SortOrder = "typ", searchString = ViewData["Search"] })
                        </th>
                        <th>
                            @Html.ActionLink("Diagnóza", "InRequest", new { SortOrder = "diagnoza", searchString = ViewData["Search"] })
                        </th>
                        <th>
                            @Html.ActionLink("Datum výkonu", "InRequest", new { SortOrder = "datum", searchString = ViewData["Search"] })
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var medicalBill in Model.medicallBillsPage)
                    {
                        using (var db = new DatabaseContext())
                        {
                            var name = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Name);
                            var surname = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Surname);

                            <tr>
                                <td>@Html.DisplayFor(modelItem => medicalBill.MedicallBillId)</td>
                                <td>@Html.DisplayFor(modelItem => name) @Html.DisplayFor(modelItem => surname)</td>
                                <td>@medicalBill.SocialSecurityNum</td>
                                <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Amount) Kč</td>
                                <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Name)</td>
                                <td>@medicalBill.Diagnosis.Name</td>
                                <td>@medicalBill.CreateDate</td>
                                <td><button name="button" class="accept" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_accept = @medicalBill.MedicallBillId, p = ViewData["CurrentPage"], SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })')">Schválit</button></td>
                                <td><button name="button" class="denied" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_reject = @medicalBill.MedicallBillId, p = ViewData["CurrentPage"], SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })')">Zamítnout</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <br /><br />
        @(Html.Pager(Model.medicallBillsPage).Url(page => Url.Action("InRequest", new { p = page, SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })).Classic())
        <br /><br /><br />
    }

</div>

<script>
    function redirectToAction(hr) {
        window.location.href = hr;
    }
</script>