@using Nemocnice.Data;
@addTagHelper *, LazZiya.TagHelpers
@model InsuranceModel


<div class="pojistovna">
    <h1 class="pojistovna-nadpis">Žádosti o proplacení lékařských úkonů</h1>

    <form asp-action="InRequest" method="get">
        <div class="search-doctor">
            <p id="left">
                <label>Jméno lékaře:</label><input type="text" name="SearchString" id="search" autocomplete="off" value="@ViewData["Search"]">
                <input type="submit" value="Hledat" class="my_btn"> | @Html.ActionLink("Zpět na všechny výpisy", "InRequest", new {})
            </p>
            <p id="right">
                @Html.ActionLink("Schválit vše", "InRequest", new { buttonAll = "schvalit-vse", searchString = ViewData["Search"] }) | @Html.ActionLink("Zamítnout vše", "InRequest", new { buttonAll = "zamitnout-vse", searchString = ViewData["Search"] })
            </p>
        </div>
    </form>

    @if (Model.medicallBills.Count == 0)
    {
        <br /><br /><br />
        <hr /><p class="null_record">Nejsou zde žádné záznamy k zobrazení</p><hr />
    }
    else
    {

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>
                            Id žádosti
                        </th>
                        <th>
                            Doktor
                        </th>
                        <th>
                            RČ pacienta
                        </th>
                        <th>
                            @Html.ActionLink("Výkon (Kč)", "InRequest", new { SortOrder = "cena", searchString = ViewData["Search"] })
                        </th>
                        <th>
                            @Html.ActionLink("Diagnóza", "InRequest", new { SortOrder = "diagnoza", searchString = ViewData["Search"] })
                        </th>
                        <th>
                            @Html.ActionLink("Datum výkonu", "InRequest", new { SortOrder = "datum", searchString = ViewData["Search"] })
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var medicalBill in Model.medicallBills)
                    {
                        using (var db = new DatabaseContext())
                        {
                            var name = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Name);
                            var surname = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Surname);

                            <tr>
                                <td>@Html.DisplayFor(modelItem => medicalBill.MedicallBillId)</td>
                                <td>@Html.DisplayFor(modelItem => name) @Html.DisplayFor(modelItem => surname)</td>
                                <td>@medicalBill.SocialSecurityNum</td>
                                <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Amount)</td>
                                <td>@medicalBill.Diagnosis.Name</td>
                                <td>@medicalBill.CreateDate</td>
                                <td>@medicalBill.State</td>
                                <td><button name="button" class="my_btn" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_accept = @medicalBill.MedicallBillId})')">Schválit</button></td>
                                <td><button name="button" class="my_btn" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_reject = @medicalBill.MedicallBillId})')">Zamítnout</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

            <br />
            <paging total-records="Model.Records"
                    page-no="Model.PageNum"
                    page-size="Model.PageSize"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="false">
            </paging>



        </div>
    }

</div>

<script>
    function redirectToAction(hr) {
        window.location.href = hr;
    }
</script>