@using Nemocnice.Data;
@{
    ViewData["Title"] = "Stránka zaměstance pojišťovny";
    string[] TableHeaders = new string[] {
        "Id žádosti",
        "Doktor",
        "RČ pacienta",
        "Výkon (Kč)",
        "Diagnóza",
        "Datum výkonu",
        "",
        ""
    };
}

<div class="pojistovna">
    <h1 class="pojistovna-nadpis">Žádosti o proplacení lékařských úkonů</h1>

    <form asp-action="InRequest" method="get">
        <div class="search-doctor">
            <p id="left">
                <label>Jméno lékaře:</label><input type="text" name="SearchString" id="search">
                <input type="submit" value="Hledat" class="my_btn"> | <a asp-action="InRequest" class="my_btn">Zpět na všechny výpisy</a>
            </p>
            <p id="right">
                <button name="buttonAll" class="all" value="schvalit-vse" asp-action="InRequest">Schválit vše</button> | <button name="buttonAll" class="all" value="zamitnout-vse" asp-action="InRequest">Zamítnout vše</button>
            </p>
        </div>
    </form>

    <div class="table">
        <table>
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (Nemocnice.Data.MedicallBill medicalBill in Model)
                {
                    using (var db = new DatabaseContext())
                    {
                        var name = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Name);
                        var surname = db.UserT.Where(x => x.UserId == medicalBill.Doctor.UserId).Select(x => x.Surname);

                        <tr>
                            <td>@Html.DisplayFor(modelItem => medicalBill.MedicallBillId)</td>
                            <td>@Html.DisplayFor(modelItem => name) @Html.DisplayFor(modelItem => surname)</td>
                            <td>@medicalBill.SocialSecurityNum</td>
                            <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Amount)</td>
                            <td>@medicalBill.Diagnosis.Name</td>
                            <td>@medicalBill.CreateDate</td>
                            <form>
                                <td><button name="button" class="my_btn" value="schvaleno @medicalBill.MedicallBillId" asp-action="InRequest">Schválit</button></td>
                                <td><button name="button" class="my_btn" value="zamitnuto @medicalBill.MedicallBillId" asp-action="InRequest">Zamítnout</button></td>
                            </form>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>


</div>
