@{
    ViewData["Title"] = "Žádosti k proplacení";
}


@using Nemocnice.Data;
@model InsuranceModel
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;
@using Microsoft.AspNetCore.Mvc;


<style>

    .to-end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
</style>

<div class="pojistovna">
    <h1 style="margin-bottom:30px" class="pojistovna-nadpis">Žádosti o proplacení lékařských úkonů</h1>

    <div class="flex-row row" style="display:flex;margin-bottom:5px">
        <div>
            <form asp-action="InRequest" method="get">
                <div class="form-actions no-color">
                    <div class="input-group">
                        <input placeholder="Hledat" class="hledat-text" type="text" name="SearchString" id="search" autocomplete="off" value="@ViewData["Search"]">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search" style="font-size:20px"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col float-right">
            <div class="row">
                <button style="margin-left:20px" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { })')" class="btn btn-secondary">Zrušit filtry</button>
            </div>
        </div>
        <div class="col to-end">
            <div class="flex-row row">
                <div class="col">
                    <button class="btn-insurance-accept" type="button" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { buttonAll = "schvalit-vse", searchString = ViewData["Search"], SortOrder = ViewData["CurrentSort"] })')">
                        Schválit vše
                    </button>
                </div>
                <div class="col">
                    <button class="btn-insurance-denied" type="button" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { buttonAll = "zamitnout-vse", searchString = ViewData["Search"], SortOrder = ViewData["CurrentSort"] })')">
                        Zamítnout&nbsp;vše
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>




@if (Model.medicallBillsPage.Count == 0)
{
    <br />
    <br />
    <br />
    <hr /><p class="null_record">Nejsou zde žádné záznamy k zobrazení</p>
    <hr />
}
else
{

    <div class="table table-striped" style="overflow-x: auto;">
        <table style="text-align:center;">
            <thead>
                <tr>
                    <th>
                        IČZ
                    </th>
                    <th>
                        Pacient
                    </th>
                    <th>
                        @Html.ActionLink("Typ", "InRequest", new { SortOrder = "typ", searchString = ViewData["Search"] })
                    </th>
                    <th>
                        @Html.ActionLink("Cena(Kč)", "InRequest", new { SortOrder = "cena", searchString = ViewData["Search"] })
                    </th>
                    <th>
                        @Html.ActionLink("Diagnóza", "InRequest", new { SortOrder = "diagnoza", searchString = ViewData["Search"] })
                    </th>
                    <th>
                        @Html.ActionLink("Datum výkonu", "InRequest", new { SortOrder = "datum", searchString = ViewData["Search"] })
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var medicalBill in Model.medicallBillsPage)
                {
                    using (var db = new DatabaseContext())
                    {


                        <tr>
                            <td>@Html.DisplayFor(modelItem => medicalBill.Doctor.ICZ)</td>
                            <td>@medicalBill.SocialSecurityNum</td>
                            <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Name)</td>
                            <td>@Html.DisplayFor(modelItem => medicalBill.MedicallActivityPrice.Amount)</td>
                            <td>@medicalBill.Diagnosis.Name</td>
                            <td>@medicalBill.CreateDate</td>
                            <td><button name="button" class="accept" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_accept = @medicalBill.MedicallBillId, p = ViewData["CurrentPage"], SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })')">Schválit</button></td>
                            <td><button name="button" class="denied" onclick="redirectToAction('@Url.Action("InRequest", "InsuranceEmp", new { ID_reject = @medicalBill.MedicallBillId, p = ViewData["CurrentPage"], SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })')">Zamítnout</button></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <br />
    <br />
    @(Html.Pager(Model.medicallBillsPage).Url(page => Url.Action("InRequest", new { p = page, SortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })).Classic())
    <br />
    <br />
    <br />
}

</div>

<script>
    function redirectToAction(hr) {
        window.location.href = hr;
    }
</script>