@model DoctorEditModel
@using Nemocnice.Data;
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Správa lékářů";
}

<style>

    @@media only screen and (min-width:501px) {
        .to-end {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    @@media only screen and (max-width:500px) {
        .to-end {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 5px;
        }
    }
</style>


<h1 class="pojistovna-nadpis">Správa lékařů</h1>

<div class="flex-row" style="display:flex;margin-bottom:5px">
    <div>
        <form asp-action="DoctorEdit" method="get">
            <div class="form-actions no-color">
                <div class="input-group">
                    <input class="hledat-text" type="text" autocomplete="off" placeholder="Hledat" name="SearchString" value="@ViewData["Search"]" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search" style="font-size:20px"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col float-right">
        <div class="row">
            <div>
                <button style="margin-left:20px" onclick="redirectToAction('@Url.Action("DoctorEdit", "Admin", new { })')" class="btn btn-secondary">Zrušit filtry</button>
            </div>
            <div class="col to-end">
                <!-- Tlačítko |Nový pacient|, které ve vyskakovacím okně umožní zadat údaje pro vytvoření nového pacienta. -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatientModal">Nový lékař</button>
            </div>
        </div>
    </div>
</div>
<!-- Vyskakovací okno (modální dialog), k zadání údajů pro vytvoření nového pacienta. -->
<form asp-action="CreateDoctor" method="post">
    <div class="modal fade" id="newdoctormodal" tabindex="-1" role="dialog" aria-labelledby="newdoctormodalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:800px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newdoctormodalLabel">Nový lékař</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">Jméno<a style="color:red">*</a></label>
                                <input name="NewName" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">IČZ<a style="color:red">*</a></label>
                                <input name="NewICZ" id="ICZ" type="text" required pattern="[0-9]{5}" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pracovní telefon<a style="color:red">*</a></label>
                                <input name="NewTel" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Ulice</label>
                                <input name="NewStreet" autocomplete="off" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Město<a style="color:red">*</a></label>
                                <input name="NewCity" required autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">Příjmení<a style="color:red">*</a></label>
                                <input name="NewSurname" type="text" required autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input name="NewEmail" type="email" value="" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Číslo popisné</label>
                                <input name="NewHouseNum" type="text" pattern="[0-9]+" value="" autocomplete="off" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Směrovací číslo<a style="color:red">*</a></label>
                                <input name="NewZip" type="text" required pattern="([0-9]{5})|([0-9]{3} [0-9]{2})" autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="col-form-label">Titul</label>
                                <input name="NewTitle" type="text" autocomplete="off" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                    <input type="hidden" name="p" value="@ViewData["CurrentPage"]" />
                    <input type="hidden" name="searchString" value="@ViewData["Search"]" />
                    <input class="btn btn-primary" type="submit" value="Uložit" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Halvní tabulka kartotéky. Vybrané sloupce je mořné řadit (řazení je vždy sestupné). -->
<!-- Řazení neovlivní výsledky vyhledávání. Provede pouze jejich seřazení. -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Příjmení", "DoctorEdit", new { sortOrder = "bySurname", searchString = ViewData["Search"] })
            </th>
            <th>
                @Html.ActionLink("Jméno", "DoctorEdit", new { sortOrder = "byName", searchString = ViewData["Search"] })
            </th>
            <th>
                Titul
            </th>
            <th>
                @Html.ActionLink("IČZ", "DoctorEdit", new { sortOrder = "byICZ", searchString = ViewData["Search"] })
            </th>
            <th>
                Deaktivován
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoctorJoined)
        {
            string pom = "#exampleModal" + item.Doctor.ICZ;
            string pom2 = "exampleModal" + item.Doctor.ICZ;

            using (var db = new DatabaseContext())
            {
                var tel = db.UserT.Where(x => x.UserId == item.User.UserId).Select(s => s.Phone).FirstOrDefault();
                var mail = db.UserT.Where(x => x.UserId == item.User.UserId).Select(s => s.Email).FirstOrDefault();
                var tmp = db.UserT.Where(x => x.UserId == item.User.UserId).Select(s => s.WorkAddress).FirstOrDefault();


                var address = db.AddressT.ToList().First();
                if (tmp != null)
                {
                    int tmp2 = Convert.ToInt32(tmp.AddressId);
                    address = db.AddressT.Where(x => x.AddressId == tmp2).ToList().First();
                }
                else
                {
                    address.StreetName = "";
                    address.ZIP = 0;
                    address.City = "";
                    address.HouseNumber = 0;
                }


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.ICZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Deactivated)
            </td>
            <td>
                <button name="button" type="button" class="butt-payment" data-toggle="modal" data-target="@pom">Upravit</button>
                <form asp-action="EditDb_Doctor" method="post">

                    <div class="modal fade" id="@pom2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <!-- zpusobi, ze je okno skryte a vyskoci az po kliku -->
                        <div class="modal-dialog" style="max-width:800px" role="document">
                            <!-- zpusobi, ze je okno skryte a vyskoci az po kliku -->
                            <div class="modal-content">
                                <!-- pozadi ve vyskakovacim oknu -->
                                <div class="modal-header">
                                    <!-- formatovani nadpisu a krizku -->
                                    <h5>Upravit lékaře</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- formatovani vyskakovaciho okna -->
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="col-form-label">Jméno<a style="color:red">*</a></label>
                                                <input name="edit_name" type="text" required autocomplete="off" class="form-control" value="@item.User.Name" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">IČZ<a style="color:red">*</a></label>
                                                <input name="edit_icz" id="ICZ" type="text" required pattern="[0-9]{5,10}" value="@item.Doctor.ICZ" autocomplete="off" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Telefon<a style="color:red">*</a></label>
                                                <input name="edit_tel" type="text" required autocomplete="off" class="form-control" value="@tel" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Ulice</label>
                                                <input name="edit_street" autocomplete="off" value="@address.StreetName" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Město<a style="color:red">*</a></label>
                                                <input name="edit_town" required autocomplete="off" class="form-control" value="@address.City" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="col-form-label">Příjmení<a style="color:red">*</a></label>
                                                <input name="edit_surname" type="text" required autocomplete="off" class="form-control" value="@item.User.Surname" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Email</label>
                                                <input name="edit_mail" type="email" value="@mail" autocomplete="off" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Číslo popisné</label>
                                                <input name="edit_cp" type="text" pattern="[0-9]+" value="@(address.HouseNumber == 0 ? "" : address.HouseNumber.ToString())" autocomplete="off" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label">Směrovací číslo<a style="color:red">*</a></label>
                                                <input name="edit_psc" type="text" required pattern="([0-9]{5})|([0-9]{3} [0-9]{2})" autocomplete="off" class="form-control" value="@(address.ZIP == 0 ? "" : address.ZIP.ToString())" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label class="col-form-label">Titul</label>
                                                <input name="edit_title" type="text" autocomplete="off" value="@item.User.Title" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <!-- formatovani tlacitka odeslat -->
                                    <input type="hidden" name="edit_ID" value="@item.User.Login" />
                                    <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                                    <input type="hidden" name="p" value="@ViewData["CurrentPage"]" />
                                    <input type="hidden" name="searchString" value="@ViewData["Search"]" />
                                    <input name="new_butt" class="btn-insurance" type="submit" value="Odeslat" /> <!-- tlacitko odeslat -->
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
            <td>
                <button name="button" class="butt-payment" onclick="redirectToAction('@Url.Action("DoctorEdit", "Admin", new { ID_delete = item.Doctor.ICZ,  sortOrder = ViewData["CurrentSort"], p = ViewData["CurrentPage"], searchString = ViewData["Search"] })')">Odstranit</button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>

<br />
<br />
@(Html.Pager(Model.DoctorJoined).Url(page => Url.Action("DoctorEdit", new { p = page, sortOrder = ViewData["CurrentSort"], searchString = ViewData["Search"] })).Classic())
<br />
<br />
<br />
